.buttonsContainer {
  display: flex;
  gap: 21px
}

.clock {
}

.watch {
  margin-bottom: 8px;
}

.watch > span{
  font-size: 20px;
}

.watch strong {
  font-weight: 600;
}

.more {
  color: rgba(0, 0, 0, 0.5);
  font-size: 16px;
  margin-bottom: 27px;
}