.App {
    --header_height: 60px;
  /*   background-color: #F5F7FB; */
    position: relative;
    z-index: 0;
    display: flex;
    flex-direction: column;
}



.hw {
    max-width: 1140px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    border-top: 1px solid rgb(217, 217, 217);
    border-bottom: 1px solid rgb(217, 217, 217);
    padding: 35px 00px 50px 20px;

}

.hwTitle {
    font-family:'Montserrat', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 15px;
    margin-top: 15px;
    padding-left: 20px;
}